{
    "semi": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "always",
    "trailingComma": "es5"
}
