@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* Can be ignored, cause light theme is not used */
:root {
    --background: hsl(0 0% 100%);
    --page-background: hsl(0 0% 3.9%);
    --border: hsl(0 0% 89.8%);
}

.dark {
    --background: hsl(0 0% 9%);
    --background-highlight: hsl(0 0% 20%);
    --page-background: hsl(0 0% 3.9%);
    --border: hsl(0 0% 14.9%);
    --border-highlight: hsl(0 0% 45.1%);
}

@theme {
    --font-funnel: "Funnel Display", sans-serif;
    --font-geist: "Geist", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-background-highlight: var(--background-highlight);
    --color-page-background: var(--page-background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-border-highlight: var(--border-highlight);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-language-rust: hsl(30 90.3% 70.6%);
    --color-language-go: hsl(193 88.3% 48.6%);
    --color-language-pwsh: hsl(223 70.3% 33%);
    --color-language-lua: hsl(210 100% 40%);
    --color-language-unknown: hsl(0 0% 50%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
}
