@import "tailwindcss";

:root {
    --background: hsl(0 0% 9%);
    --background-highlight: hsl(201 0% 20%);
    --page-background: hsl(0 0% 3.9%);
    --custom-white: hsl(201, 0%, 95%);
    --foreground: hsl(201, 0%, 85%);
    --foreground-desc: hsl(201, 0%, 60%);
    --foreground-muted: hsl(201, 0%, 45%);
    --border: hsl(201 0% 20%);
    --border-highlight: hsl(201 0% 45.1%);
}

@theme {
    --font-funnel: "Funnel Display", sans-serif;
    --font-geist: "Geist", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-background-highlight: var(--background-highlight);
    --color-page-background: var(--page-background);
    --color-custom-white: var(--custom-white);
    --color-foreground: var(--foreground);
    --color-foreground-desc: var(--foreground-desc);
    --color-foreground-muted: var(--foreground-muted);
    --color-border: var(--border);
    --color-border-highlight: var(--border-highlight);
    --color-language-rust: hsl(30 90.3% 70.6%);
    --color-language-go: hsl(193 88.3% 48.6%);
    --color-language-pwsh: hsl(223 70.3% 33%);
    --color-language-lua: hsl(210 100% 40%);
    --color-language-unknown: hsl(0 0% 50%);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: var(--radius-md);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
}
